<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Events</h1>
    </header>
    <section id="events">
      <h2>Events in Action</h2>
      <!-- v-bind is for setting value of an attribute -->
      <!-- : is also a shorthand way to use v-bind, so like :value -->
      <!-- v-on is an event listener, after which you define the event -->
      <!-- @ is also a shorthand way to write v-on:, so like @click.right -->
      <button v-on:click="add(10)">Add 10</button>
      <!-- the .right modifier makes this click only react to a rightclick -->
      <button v-on:click.right="reduce(5)">Reduce 5</button>
      <!-- we also passed arguments above -->
      <!-- v-once tells vue to evaluate expressions only ONCE. used to preserve intial state -->
      <p v-once>Starting Counter: {{ counter }}</p>
      <p>Result: {{ counter }}</p>
      <!-- you can add multiple directives on one tag -->
      <input type="text" v-model="name" />
      <input type="text" v-model="lastName" />
      <!-- v-model is a shortcut for both the v-bind:value and v-on:input directives. it is 2 way binding -->
      <!-- NO shorthand for v-model -->
      <!-- $event is used when needing explicit access to the event -->
      <!-- ex. if setName has a param already in it, we would write setName(event,
      param) -->
      <button v-on:click="resetInput">Reset Input</button>
      <p>Your Name: {{ fullname }}</p>
      <!-- the .prevent is an event modifier to preventDefault() -->
      <form v-on:submit.prevent="submitForm">
        <input type="text" />
        <button>Sign Up</button>
      </form>
    </section>
  </body>
</html>
